@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: Galano Grotesque Alt !important;
}

.footer__bg {
  background: url("/assets/images/map.png") no-repeat center center / cover,
    linear-gradient(90deg, #188bf4 0.17%, #1c7ed8 86.29%);
}
.bg__lower__footer {
  background: url("/assets/images/lower-footer.png") no-repeat center center /
    cover;
}
.hero__border {
  background: linear-gradient(90deg, #188bf4 0.17%, #1c7ed8 86.29%);
  height: 9px;
}
